<app-navbar/>
<main class="menu-container">
    <h1 class="title">Gestión de Costos</h1>
    
    <div class="buttons-grid">
        <div class="card-menu" routerLink="/secciones"> 
            <div class="icon-circle">
                <i class="ph-light ph-hamburger icon-menu"></i>
            </div>
            <span>Productos / Recetas</span>
            <p class="desc">1. Crea Secciones -> 2. Crea Recetas</p>
        </div>

        <div class="card-menu" routerLink="/insumos">
            <div class="icon-circle">
                <i class="ph-light ph-basket icon-menu"></i>
            </div>
            <span>Insumos / Stock</span>
            <p class="desc">Gestiona precios de Pan, Carne, Queso...</p>
        </div>
    </div>
</main>