main {
    min-height: calc(100vh - 70px);
    background-color: var(--secondary-color);
    padding: 20px 40px;
    padding-bottom: 20px;
}

.title {
  color: var(--light-color);
  text-align: center;
  margin: 32px auto ; 
}

.cont-create {
  display: flex;
  flex-direction: column; /* Alinear verticalmente */
  justify-content: center; /* Alinear horizontalmente */
}

.table-container {
  margin: auto; /* Esto centrará horizontalmente el contenedor de la tabla */
  width: fit-content;  /* Ajusta el ancho del contenedor de la tabla al contenido */
  margin-top: 10px;
}

.btn-action {
  color: var(--light-color);
  background-color: transparent;
  outline: none;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  padding: 8px;
  margin-left: 15px;
}