<app-navbar/>

<main>
  <section class="sect-history">
    <h2 class="title">Estadísticas de Reseñas</h2>


    <!-- Tabla cruzada de preguntas vs caritas -->
<div *ngIf="experienceStats" class="cont-table">
  <h3>Estadísticas de Experiencia</h3>
  <table>
    <tr class="t-row-head">
      <th>Pregunta</th>
      <th *ngFor="let emoji of emojiMap">{{ emoji.icon }}</th>
    </tr>

    <tr *ngFor="let question of getExperienceKeys()">
      <td>{{ getQuestionLabel(question) }}</td>
      <td *ngFor="let emoji of emojiMap">
        {{ getCountFor(question, emoji.value) }}
      </td>
    </tr>
  </table>
</div>


        <!-- Dropdown para seleccionar menú -->
    <div class="cont-filters">
      <label for="menuSelect" class="input-dropdown lb-input">
        <input id="menuSelect" type="checkbox" class="input-form input-checkbox">
        <div class="cont-dropdown">
          <span *ngFor="let menu of getMenuNames()" (click)="onSelectMenu(menu)" class="item-dropdown">{{ menu }}</span>
        </div>
        <span class="input-form">{{ selectedMenu || 'Seleccionar menú' }}</span>
        <i class="ph-light ph-caret-down icon-arrow"></i>
      </label>
    </div>

    <div *ngIf="getMenuNames().length < 1" class="cont-not-news">
      <span class="not-movement">No hay reseñas registradas.</span>
    </div>

    <!-- Mostrar reseñas filtradas -->
    <div *ngIf="filteredReviews.length > 0" class="cont-table mt-4">
      <h3>Reseñas de {{ selectedMenu }}</h3>
      <table>
        <tr class="t-row-head">
          <th>Mensaje</th>
        </tr>
        <tr *ngFor="let review of filteredReviews">
          <td>{{ review.message }}</td>
        </tr>
      </table>
    </div>
  </section>
</main>
